* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*Style Body*/
.fundo {
    height: 100%;
    background-image: url('assets/fundo.jpg');
    background-size: cover;
    font-family: sans-serif;
}
/*Style NavBar*/
.barra{
    background-image: linear-gradient(rgb(248, 248, 79), orange);
    top: 0;
    left: 0;
    right: 0;
    height: 1vh;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 30px;
    top: 0;
    padding-top: 1%;
}
.links-nav{
    display: flex;  
    justify-content: space-between;
}
.topnavi{
    color: yellow;
}
.item-link-nav:hover{
    scroll-behavior: smooth;
    text-decoration: underline;
    color: yellow;
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: absolute;
    color: white;
    list-style-type: none;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding-top: 5px;
}

.img-menu {
    width: 2vw;
}

.img-menu:hover {
    width: 45px;
}

/*Style Primeiro Segmento*/
.seg1-perfil {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}

.seg1-titulo {
    text-align: left;
}

.seg1-texto {
    display: block;
    color: white;
    width: clamp(10%, 45%, 50%);
    text-align: justify;
}
.seg1-subtitulo{
    color: rgb(255, 255, 0);
    padding-top: 1%;
}
.container{display: inline-block;}
.text{
    color: rgb(255, 255, 0);
    padding-top: 1%;
    font-size: 26px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s, 
        cursor .4s step-end infinite alternate;        
}
@keyframes cursor {
    50% { border-color: transparent }
}
@keyframes typing {
    from { width: 0 }
}

.seg2-perfil {
    display: flex;
    width: 40%;
    padding-top: 1%;
    margin-left: 9.5%;
    margin-bottom: 10%;
}
.link-menu > a{
    color: yellow;
}
.seg2-perfil img {
    margin-inline: auto;
    width: 50px;
}
.seg2-imagens:hover{
    background-color: blue;
    border-radius: 10px;
}

/*Style Footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
/*Style Primeiro Segmento*/
.sobre{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 1%;
    margin-left: 10%;
    padding-bottom: 10%;

}
.texto-sobre{
    max-width: 80%;
}
.titulo-sobre{
    color: yellow;
    text-align: left;
}
.texto-sobre-content{
    text-align: justify;
    color: white;
}

/* Style Contato */
.titulo-contato{
    color: rgb(255, 227, 47);
    padding-bottom: 2rem;
    text-align: center;
}

.body-forms {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-image: url('assets/fundo.jpg');
    color: white;
}
/*Style Segundo componente*/
.projetos{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 1%;
    margin-left: 10%;
    padding-bottom: 10%;
}  
.texto-projetos{
    max-width: 80%;
}
.klas, .studex{
    display: flex;
    flex-direction: column;
}
.klas, .studex h1, h3{
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: justify;
}

.studex{
    margin-top: 3%;
}
.gallery{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.gallery img{
    aspect-ratio: 3/4;
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: .5;
    transition: .5s;
}
.gallery img:hover{
    flex: 1 1 100px;
    opacity: 1;
}

.certificados{
    display: flex;
    justify-content: left;
    padding-top: 1%;
    margin-left: 10%;
    padding-bottom: 10%;
}
.conteudo-certs{
    display: flex;
    flex-direction: column;
}
.certs{
    display: flex;
    padding-top: 3%;
}
.cert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    margin-right: 3%;
    align-items: center;
    width: 160px;
    height: 160px;
    background: rgba(255, 255, 0, 0.126);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 0, 0.85);
    position: relative;
}
.cert h5{
    color: rgb(1, 4, 183);
    text-align: center;
}
.cert h6{
    color: rgb(47, 245, 255);
}

.conteudo-certs h1{
    color: yellow;
    text-align: left;
}

.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 1%;
    margin-left: 10%;
    padding-bottom: 10%;
}

.habilidades-itens{
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-top: 3%;

}
.habilidades h1{
    color: yellow;
    text-align: left;
}

.hab{
    width: 70px;
    background-color: rgb(53, 13, 164);
    border-radius: 20%;
    padding: 1%;
}
.tit-hab{
    color: white;
    text-align: center;
}

form {
    width: 100%;
    max-width: 30rem;
}

label,
input,
textarea,
button {
    display: block;
}

input,
textarea,
button {
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}

input,
textarea {
    margin-bottom: 1rem;
    color: white;
    background: rgb(18, 5, 46);
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s,
        box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0 0 0 0.3125rem rgb(27, 27, 83);
}

label {
    margin-bottom: 0.5rem;
    color: rgb(255, 227, 47);
}

textarea {
    min-height: 12.5rem;
    resize: vertical;
}

button {
    border: none;
    border-radius: 99px;
    color: white;
    background: rgb(0, 27, 95);
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
button:focus {
    outline: none;
    background: rgb(0, 55, 72);
}

button:disabled {
    cursor: not-allowed;
    background: grey;
}
.sucess, .error{text-align: center; font-size: 50px; margin-left: auto; margin-right: auto;}
.sucess{
    color: yellow;
}
.error{
    color: tomato

}